<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
<div class="row">

<div class="col-md-1 col-lg-1">

</div>
    <div class="col-lg-10 col-md-10">
        <div ng-include src="navbarURL"></div>
<h3>Welcome {{currentUser.get('username')}}</h3>

        <hr>
        <a href="#/inteadd" class="btn btn-info btn-primary pull-right" role="button">New Intervention</a>

        <div class="input-group input-group-lg col-md-6 col-lg-6">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" ng-model="filter.title" typeahead="inte.get('title') for inte in intes" typeahead-loading="LoadingTitles" placeholder="Search by Title"/>
</div>

<hr>
<tabset justified="true">

        <div ng-repeat="inte in intes | filter:filter.title | limitTo: intesLimitEnd | limitTo : -10">
        <div class="panel panel-success">
            <div class="panel-heading">
                   <a href="#/inte/{{inte.id}}">{{inte.get('title')}} </a> 
            </div>
        
            <!--<div class="panel-body">-->
            <!--    {{blog.get('post')}}-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
            <!--    <div>Author - {{blog.get('author')}}<span class="pull-right">Created on {{ blog.updatedAt | date:'short' }}</span></div>-->
            <!--</div>-->
        </div>
        
  <!--      <li class="list-group-item"> <a href="#">Syndrome </a> </li>-->
  <!--<li class="list-group-item"> <a href="#">Medication </a> </li>-->
  <!--<li class="list-group-item"><a href="#">Intervention </a></li>-->

        
        
        </div>


</tabset>


        <pagination class="pull-left" boundary-links="true" total-items="totalItemsToDisplay" items-per-page="10" ng-model="currentPage"
                    ng-click="setPage()" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        <hr>


</div>


</div>

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
    </div>