


<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
<!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
<!--    <div class="row">-->
<!--        <div class="col-md-1 col-lg-1"></div>-->
<!--        <div class="col-lg-10 col-md-10">-->
<!--        <div ng-include src="navbarURL"></div>-->

<!--            <div class="row" ng-show="!finishCreation" class="ng-hide">-->
<!--                <div class="input-group col-lg-9 col-md-9">-->
<!--                    <alert ng-repeat="alert in alerts" type='{{alert.type}}' close="closeAlert($index)">{{alert.msg}} </alert>-->
<!--                    <span class="label label-primary">Title</span>-->
<!--                    <input type="text" class="form-control" ng-model="newSyn.title"/>-->
<!--                </div>-->
<!--                <label for="lan"> language: </label><br>-->
<!--                <select name="lan" ng-model="newSyn.lan">-->
<!--                  <option value="ENG">English</option>-->
<!--                  <option value="CHN">Chinese</option>-->
<!--                </select><br>-->
                
<!--                <div class="input-group col-lg-9 col-md-9">-->
<!--                    <span class="label label-primary">Immediate Consideration</span>-->
<!--                     <wysiwyg textarea-id="question" -->
<!--                      textarea-class="form-control"  -->
<!--                      textarea-height="380px" -->
<!--                      textarea-name="textareaQuestion"-->
<!--                      textarea-required -->
<!--                      ng-model="newSyn.ic" -->
<!--                      enable-bootstrap-title="true"-->
<!--                      textarea-menu="menu"-->
<!--                      disabled="disabled">-->
<!--                    </wysiwyg>-->
<!--                </div>-->
<!--                <br>-->
                
<!--                 <div class="input-group col-lg-9 col-md-9">-->
<!--                    <span class="label label-primary">Management after stabilization</span>-->
<!--                     <wysiwyg textarea-id="question2" -->
<!--                      textarea-class="form-control"  -->
<!--                      textarea-height="380px" -->
<!--                      textarea-name="textareaQuestion2"-->
<!--                      textarea-required -->
<!--                      ng-model="newSyn.mas" -->
<!--                      enable-bootstrap-title="true"-->
<!--                      textarea-menu="menu"-->
<!--                      disabled="disabled">-->
<!--                    </wysiwyg>-->
<!--                </div>-->
<!--                <br>-->
                
<!--                <div class="input-group col-lg-9 col-md-9">-->
<!--                    <span class="label label-primary">Cautions</span>-->
<!--                     <wysiwyg textarea-id="question3" -->
<!--                      textarea-class="form-control"  -->
<!--                      textarea-height="380px" -->
<!--                      textarea-name="textareaQuestion3"-->
<!--                      textarea-required -->
<!--                      ng-model="newSyn.cau" -->
<!--                      enable-bootstrap-title="true"-->
<!--                      textarea-menu="menu"-->
<!--                      disabled="disabled">-->
<!--                    </wysiwyg>-->
<!--                </div>-->
<!--                <br>-->
                
<!--                <div class="input-group col-lg-9 col-md-9">-->
<!--                    <span class="label label-primary">Reference</span>-->
<!--                     <wysiwyg textarea-id="question4" -->
<!--                      textarea-class="form-control"  -->
<!--                      textarea-height="380px" -->
<!--                      textarea-name="textareaQuestion4"-->
<!--                      textarea-required -->
<!--                      ng-model="newSyn.ref" -->
<!--                      enable-bootstrap-title="true"-->
<!--                      textarea-menu="menu"-->
<!--                      disabled="disabled">-->
<!--                    </wysiwyg>-->
<!--                </div>-->
<!--                <br>-->
                
<!--                <div class="input-group col-lg-9 col-md-9">-->
<!--                    <span class="label label-primary">Algorithm</span>-->
<!--                     <wysiwyg textarea-id="question5" -->
<!--                      textarea-class="form-control"  -->
<!--                      textarea-height="380px" -->
<!--                      textarea-name="textareaQuestion5"-->
<!--                      textarea-required -->
<!--                      ng-model="newSyn.algo" -->
<!--                      enable-bootstrap-title="true"-->
<!--                      textarea-menu="menu"-->
<!--                      disabled="disabled">-->
<!--                    </wysiwyg>-->
<!--                </div>-->
<!--                <br>-->
                
<!--                <button class='btn btn-primary' ng-click="addSyndrome()">Add</button>-->
<!--            </div>-->


<!--            <div class="row" ng-show="finishCreation" class="ng-hide">-->
<!--                <div class="input-group col-lg-8 col-md-8">-->
<!--                    <alert  type='success'>New Syndrome Created !</alert>-->
<!--                    <br> <a href="#/syndrome" class="btn btn-info btn-primary pull-right" role="button">Back</a>-->
<!--                </div>-->
<!--            </div>-->


     

<!--        </div>-->


<!--    </div>-->

<!--    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">-->
<!--    </div>-->
<!--</div>-->

