


<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">-->

<!--</div>-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="row">

    <div class="col-lg-10 col-md-10">
        <div ng-include src="navbarURL"></div>

       <div class="row" ng-show="!editCheck" class="ng-hide">

             <div class="col-lg-1 col-md-1" > </div>
             
            <div class="col-lg-10 col-md-10" >
                 <!--ng-bind-html="myHTML"-->
                  <h3>{{title}}</h3>
                 <!--<div >{{myHTML}}</div>-->
                 <br><br>
                <div class="panel panel-default">
                  <div class="panel-heading">Immediate Consideration</div>
                  <div class="panel-body">
                   <div ng-bind-html="ic" ></div>
                  </div>
                </div>
                
                 <div class="panel panel-default">
                  <div class="panel-heading">Management after Stablization</div>
                  <div class="panel-body">
                   <div ng-bind-html="mas" >{{mas}}</div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">Caution</div>
                  <div class="panel-body">
                   <div ng-bind-html="cau" >{{cau}}</div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">Reference</div>
                  <div class="panel-body">
                   <div ng-bind-html="ref" >{{ref}}</div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">Algorithm</div>
                  <div class="panel-body">
                   <div ng-bind-html="algo" >{{algo}}</div>
                  </div>
                </div>
                 
                
            </div>
            <br><br>
            <button type="button" class="btn btn-primary pull-right" ng-click="checkEdit()">Edit</button>
            
             <!--<a href="#/synedit" class="btn btn-info btn-primary pull-right" role="button">Edit</a>-->
             
           
</div>



<div class="row" ng-show="editCheck" class="ng-hide">


            
            <div class="container lighter">
                <span class="label label-primary">Title</span>
                <input type="text" class="form-control" ng-model="title"/>
            </div><br>
            
             <div class="container lighter">
                  <div class="panel-heading">Immediate Consideration</div>
                 
                <div text-angular ng-model="ic" name="mic" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            </div><br>
            
             <div class="container lighter">Management after stablization
            <div text-angular ng-model="mas" name="m_mas" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>
        
        <div class="container lighter">Caution
            <div text-angular ng-model="cau" name="m_cau" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>
        
        <div class="container lighter">Reference
            <div text-angular ng-model="ref" name="m_ref" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
        </div>
        
         <div class="container lighter">Algorithm
            <div text-angular ng-model="algo" name="m_algo" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            <button type="button" class="btn btn-primary" ng-click="updateSyn()">Update</button>
        </div>
           
</div>

     

</div>


</div>


    </div>