<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
<div class="row">

<div class="col-md-1 col-lg-1">

</div>
    <div class="col-lg-10 col-md-10">
        <div ng-include src="navbarURL"></div>
<h3>Welcome </h3>

        <hr>
        <!--<button class="btn btn-primary pull-right" ><a href="#/newsyn">New syndrome</a></button>-->
        <a href="#/synadd" class="btn btn-info btn-primary pull-right" role="button">New Syndrome</a>

        <div class="input-group input-group-lg col-md-6 col-lg-6">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" ng-model="filter.title"  placeholder="Search by Title"/>
</div>

<hr>
<tabset justified="true">

        <div ng-repeat="syn in syndromes | filter:filter.title | limitTo: syndsLimitEnd | limitTo : -10">
             <li class="list-group-item"> <a href="#/syndrome/{{syn.id}}">{{syn.name}} </a>  </li>
        </div>


</tabset>


        <pagination class="pull-left" boundary-links="true" total-items="totalItemsToDisplay" items-per-page="10" ng-model="currentPage"
                    ng-click="setPage()" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        <hr>


</div>


</div>

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
    </div>